# OS
.DS_Store

# secret
*.local
.env
.env.*
secrets/

# editor
*.swp
*.swo
*~

# neovim
.nvimlog
nvim/.config/nvim/lua/config/local.lua

# zsh plugins (cloned by install.sh)
zsh/.zsh-custom/plugins/
